[core]
	excludesfile = /Users/timominous/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Tim Duhaylungsod
	email = timominous@gmail.com
	signingkey = 5B2595837890762C
[gpg]
	program = /usr/local/bin/gpg
[commit]
	gpgsign = true
	template = /Users/timominous/.stCommitMsg
[pull]
	ff = only
[init]
	defaultBranch = main
