"*":
  "atom-beautify":
    general:
      _analyticsUserId: "10c2fa63-cdd9-493d-ab86-11e905220ddc"
    js:
      beautify_on_save: true
      brace_style: "collapse-preserve-inline"
      indent_size: 2
  "atom-material-ui":
    tabs: {}
    treeView: {}
    ui: {}
  "atom-terminal":
    app: "iTerm.app"
  "clang-format": {}
  core:
    automaticallyUpdate: false
    openEmptyEditorOnStart: false
    projectHome: "/Users/timominous/Projects"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "FiraCode-Light"
    fontSize: 13
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    softTabs: true
    tabLength: 2
  "exception-reporting":
    userId: "936fc3be-3833-4dc4-11ae-4229a87b190d"
  linter:
    lintOnFly: false
  "linter-jshint":
    esversion: 6
    executablePath: "/Users/timominous/.nvm/versions/node/v6.3.0/bin/jshint"
  "one-dark-ui": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
