packages: [
  "atom-beautify"
  "atom-easy-jsdoc"
  "atom-material-syntax"
  "atom-material-ui"
  "atom-terminal"
  "atom-ternjs"
  "clang-format"
  "dash"
  "file-icons"
  "git-plus"
  "git-time-machine"
  "highlight-selected"
  "ios"
  "language-swift"
  "linter"
  "linter-eslint"
  "linter-jshint"
  "package-sync"
  "project-manager"
  "script"
  "tabs-to-spaces"
  "vim-mode"
]
